<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">Practica Angular Avanzado</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

</nav>
<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Bienvenido!</h1>
      <p>
        a proyecto Angular Avanzado, en este proyecto podrás ver detalle de
        regiones continentales, sus países y datos base para cada País!!!...
      </p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <router-outlet></router-outlet>

    <hr />
  </div>
  <!-- /container -->
</main>
<footer class="container">
  <p>© Todos los derechos Reservados - Carlos Cifuentes Ulloa 2021</p>
</footer>